extends ../../partials/layout

block content

    script.
        var aiAssistantsDataTable;
        window.domReady.add(function () {

            var tabs = [
                {id: 'basic', title: '[[\#{datatable.tab.basic}]]', selected: true, content:'<div></div>'},
                {id: 'instructions', title: '[[\#{components.ai_assistants.instruction_tab}]]'},
                {id: 'advanced', title: '[[\#{datatable.tab.advanced}]]'}
            ]

            var columns = [(${layout.getDataTableColumns('sk.iway.iwcm.components.ai.jpa.AssistantDefinitionEntity')})];

            aiAssistantsDataTable = WJ.DataTable({
                url: "/admin/rest/ai/assistant-definition/",
                columns: columns,
                serverSide: true,
                tabs: tabs
            });

            aiAssistantsDataTable.EDITOR.on('open', function (e, type) {
                $("#DTE_Field_provider").on("change", function() {
                    $("#DTE_Field_model").val("");
                });
            });

            var buttonCounter = 5;

            aiAssistantsDataTable.button().add(buttonCounter++, {
                text: '<i class="ti ti-cloud-down"></i>',
                action: function (e, dt, node) {
                    //
                    aiAssistantsDataTable.executeAction("syncToTable", true, "[[\#{components.ai_assistants.sync_to_table.confirm}]]");
                },
                className: 'btn btn-outline-secondary',
                attr: {
                    'title': '[[\#{components.ai_assistants.sync_to_table.tooltip}]]',
                    'data-toggle': 'tooltip'
                }
            });
        });

    style.
        div.DTE_Field_Name_instructions label { display: none; }
        textarea.textarea-code { white-space: pre-line !important; }

    <table class="datatableInit table"></table>