extends ../../partials/layout

block content

    script.
        var aiStatDataTable;

        let pieChartMostUsed;
        let pieChartMostTokens;
        let lineChartDaysUsage;
        let lineChartDaysTokens;

        WJ.breadcrumb({
            id: 'ai-stats',
            tabs: [
                { url: '#dateRange', title: '{filter}', active: true }
            ]
        });

        window.domReady.add(function () {

            var columns = [(${layout.getDataTableColumns('sk.iway.iwcm.components.ai.stat.jpa.AiStatEntity')})];
            var url = "/admin/rest/ai/stat/";

            $("#pills-dateRange-tab").html("");
            $("div#aiStatDataTable_extfilter").appendTo("#pills-dateRange-tab");

            aiStatDataTable = WJ.DataTable({
                url: url,
                columns: columns,
                serverSide: true,
                id: "aiStatDataTable",
                autoHeight: false,
                summary: {
                    mode: "visible",
                    columns: ["usedTokens"],
                    title: "[[\#{components.summary.total_title}]]",
                }
            });

            aiStatDataTable.hideButton("create");
            aiStatDataTable.hideButton("remove");
            aiStatDataTable.hideButton("edit");
            aiStatDataTable.hideButton("duplicate");
            aiStatDataTable.hideButton("celledit");
            aiStatDataTable.hideButton("import");

            //Create and set amcharts
            createAmcharts();

            //Onchange events - update amcharts
            $("#aiStatDataTable_extfilter").on("click", "button.filtrujem", function() {
                getDataAndUpdateAmcharts();
            });

            async function createAmcharts() {
                window.initAmcharts().then(module => {

                    $.ajax({url: getGraphUrl("lineCharts"), success: function(result) {
                        lineChartDaysUsage = new ChartTools.LineChartForm(ChartTools.getLineChartYAxeNameObjs(["usage"], [undefined]), "dayDate", '[[\#{components.ai_assistants.stats.lineChartDaysUsage}]]', "ai-lineChartDaysUsage", ChartTools.convertDataForLineChart(result), ChartTools.DateType.Days);
                        ChartTools.createAmchart(lineChartDaysUsage);

                        lineChartDaysTokens = new ChartTools.LineChartForm(ChartTools.getLineChartYAxeNameObjs(["tokens"], [undefined]), "dayDate", '[[\#{components.ai_assistants.stats.lineChartDaysTokens}]]', "ai-lineChartDaysTokens", ChartTools.convertDataForLineChart(result), ChartTools.DateType.Days);
                        ChartTools.createAmchart(lineChartDaysTokens);
                    }});

                    $.ajax({url: getGraphUrl("pieChartMostUsed"), success: function(result) {
                        pieChartMostUsed = new ChartTools.PieChartForm("value", "label", '[[\#{components.ai_assistants.stats.pieChartMostUsed}]]', "ai-pieChartMostUsed", result);
                        ChartTools.createAmchart(pieChartMostUsed);
                    }});

                    $.ajax({url: getGraphUrl("pieChartMostTokens"), success: function(result) {
                        pieChartMostTokens = new ChartTools.PieChartForm("value", "label", '[[\#{components.ai_assistants.stats.pieChartMostTokens}]]', "ai-pieChartMostTokens", result);
                        ChartTools.createAmchart(pieChartMostTokens);

                        //After last load data
                        WJ.hideLoader();
                    }});
                });
            }

            function getGraphUrl(chartDivId) {
                //
                let chartUrl = null;

                let dateValue = ChartTools.getDateRangeWithName("created", 30);
                let providerValue = $(".dt-extfilter-assistantProvider").find("select").val();
                let actionValue = $(".dt-extfilter-assistantAction").find("select").val();
                let groupNameValue = $(".dt-extfilter-assistantGroupName").find("select").val();

                if(chartDivId == "pieChartMostUsed") {
                    chartUrl = url + "pieChartMostUsed";
                } else if(chartDivId == "pieChartMostTokens") {
                    chartUrl = url + "pieChartMostTokens";
                } else if(chartDivId == "lineCharts") {
                    chartUrl =  url + "lineCharts";
                }

                if(chartUrl == null) return null;

                chartUrl += "?created=" + dateValue;
                chartUrl += "&provider=" + providerValue;
                chartUrl += "&action=" + actionValue;
                chartUrl += "&groupName=" + groupNameValue;

                return chartUrl;
            }

            async function getDataAndUpdateAmcharts() {
                WJ.showLoader();

                await $.ajax({url: getGraphUrl("pieChartMostUsed"), success: function(result) {
                    pieChartMostUsed.chartData = result;
                    ChartTools.updateChart(pieChartMostUsed);
                }});

                await $.ajax({url: getGraphUrl("pieChartMostTokens"), success: function(result) {
                    pieChartMostTokens.chartData = result;
                    ChartTools.updateChart(pieChartMostTokens);
                }});

                await $.ajax({url: getGraphUrl("lineCharts"), success: function(result) {
                    lineChartDaysUsage.chartData = ChartTools.convertDataForLineChart(result);
                    ChartTools.updateChart(lineChartDaysUsage);

                    lineChartDaysTokens.chartData = ChartTools.convertDataForLineChart(result);
                    ChartTools.updateChart(lineChartDaysTokens);
                }});

                WJ.hideLoader();
            }
        });

    style.
        .dt-extfilter [data-filter-type="select"] {
            flex-wrap: nowrap;
        }
        .dt-extfilter-created .datetimepicker {
            width: 115px;
        }
        #aiStatDataTable_extfilter .col-auto {
            padding-right: 0px;
        }

    div#aiStatDataTable_extfilter
        div.row
            div.col-auto.dt-extfilter-title-created
            div.col-auto.dt-extfilter.dt-extfilter-created

            div.col-auto.dt-extfilter-title-assistantAction
            div.col-auto.dt-extfilter.dt-extfilter-assistantAction

            div.col-auto.dt-extfilter-title-assistantProvider
            div.col-auto.dt-extfilter.dt-extfilter-assistantProvider

            div.col-auto.dt-extfilter-title-assistantGroupName
            div.col-auto.dt-extfilter.dt-extfilter-assistantGroupName

    <div id="graphsDiv" class="hide-while-loading">
        <div class="row">
            <div class="col-md">
                <div id="ai-pieChartMostUsed" class="amcharts"></div>
            </div>
            <div class="col-md">
                <div id="ai-pieChartMostTokens" class="amcharts"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div id="ai-lineChartDaysUsage" class="amcharts"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div id="ai-lineChartDaysTokens" class="amcharts"></div>
            </div>
        </div>
    </div>

    <div id="tableDiv">
        <table id="aiStatDataTable" class="datatableInit table"></table>
    </div>