extends ../../partials/layout

block content

    +breadcrumb(
        'translation-keys',
        [
            [ '#translation-keys', '[[\#{admin.conf_editor.edit_text}]]', true ]
        ]
    )

    script.
        var translationKeysTable;
        window.domReady.add(function () {
            var columns = [(${layout.getDataTableColumns('sk.iway.iwcm.components.translation_keys.jpa.TranslationKeyEntity')})];

            translationKeysTable = WJ.DataTable({
                url: "/admin/v9/settings/translation-keys",
                columns: columns,
                serverSide: true,
                idAutoOpener: false,
                customFieldsUpdateColumns: true,
                customFieldsUpdateColumnsPreserveVisibility: true
            });

            translationKeysTable.button().add(4, {
                extends: 'remove',
                editor: translationKeysTable.EDITOR,
                text: '<i class="fas fa-database"></i>',
                init: function ( dt, node, config ) {
                    $.fn.dataTable.Buttons.showIfRowUnselected(this, dt);
                },
                action: function (e, dt, node) {
                    translationKeysTable.executeAction("reload", true);
                },
                className: 'btn btn-outline-secondary buttons-divider',
                attr: {
                    'title': '[[\#{components.translation_key.action.reload}]]',
                    'data-toggle': 'tooltip'
                }
            });

            $('#datatableImportModal').on('show.bs.modal', function () {
                var select = document.getElementById("dt-settings-update-by-column");
                if (select.options.length > 0) {
                    select.options.length = 0;
                    var option = new Option("[[\#{components.translation_key.key}]] - key", "key");
                    select.options[select.options.length] = option;

                    $(select).selectpicker('refresh');
                }
                $("#dt-settings-import3").parent().hide();
                $("label[for='dt-settings-import1']").text("[[\#{components.translation_key.import.addAndUpdate.js}]]");
            });

        });

    <table class="datatableInit table"></table>
