extends ../../partials/layout

block content

    div.md-breadcrumb(style="display: none")

    div.breadcrumb-language-select(style="display:none")
        select(name="languageSelect" id="breadcrumbLanguageSelect")
            option(data-th-each="language : ${layoutService.getLanguages(false, true, 'language.append')}" data-th-text="${language.label}" data-th-value="${language.value}" data-th-selected="${language.value==layout.lngWebjet}")

    div(data-th-include="${appIncludePath}" data-th-remove="tag")