extends ../../partials/layout

block content

    +breadcrumb(
        'forms',
        [
            [ '#form-detail', '[[\#{admin.temp_list.zoznam_sablon}]]', true ]
        ],
        [ '/admin/v9/templates/temps-groups-list', '[[\#{admin.temp_group_list.title}]]' ]
    )

    script.

        window.helpLink = "/frontend/setup/README";

        let tabs = [
            {id: 'basic', title: '[[\#{datatable.tab.basic}]]', selected: true},
            {id: 'style', title: '[[\#{templates.temps-list.styleTab}]]', selected: false},
            {id: 'templatesTab', title: '[[\#{templates.temps-list.templatesTab}]]', selected: false},
            {id: 'accessTab', title: '[[\#{templates.temps-list.accessTab}]]', selected: false},
            {id: 'folders', title: '[[\#{user.groups.folders}]]', className: "hide-on-create"},
            {id: 'sites', title: '[[\#{webpages.tab.pages}]]', className: "hide-on-create"},
        ];

        var tempsTable;
        window.domReady.add(function () {
            let columns = [(${layout.getDataTableColumns('sk.iway.iwcm.doc.TemplateDetails')})];

            tempsTable = WJ.DataTable({
                url: "/admin/rest/templates/temps-list",
                serverSide: false,
                columns: columns,
                editorId: "tempId",
                tabs: tabs,
                fetchOnEdit: true,
                fetchOnCreate: true
            });
        });

        //GroupDetails
        function updateColumnsGroupDetails(columns) {
            WJ.DataTable.mergeColumns(columns, {
                name: "groupName",
                renderFormatLinkTemplate: "javascript:openGroupDetails({{groupId}})",
                className: "required"
            });
        }
        function openGroupDetails(groupId) {
            window.open("/admin/v9/webpages/web-pages-list/?groupid=" + groupId);
        }

        //DocDetails
        function updateColumnsDocDetails(columns) {
            WJ.DataTable.mergeColumns(columns, {
                name: "title",
                renderFormatLinkTemplate: "javascript:openDocDetails({{docId}})",
                className: "required"
            });
        }
        function openDocDetails(docId) {
            window.open("/admin/v9/webpages/web-pages-list/?docid="+docId);
        }

    <table class="datatableInit table"></table>
