extends ../../partials/layout

block content

    .approve-del-group-page

        div.dt-header-row.clearfix.push-content-down
            h2(data-th-text="#{approve.del.group.page.title}") Schvaľování zmien adresára

        .alert.alert-danger(data-th-if="${errMsg!=null}")
            span(data-th-utext="${errMsg}") After save ERR message

        .alert.alert-success(data-th-if="${succMsg!=null}")
            span(data-th-utext="${succMsg}") After save SUCC message

        div(data-th-if="${form!=null}")
            form.approve-del-group-footer(method="post", data-th-action="@{/admin/v9/webpages/approve-del-group/}", data-th-object="${form}", enctype="multipart/form-data")

                .form-group.mb-3
                    label.form-label(for="note" data-th-text="#{approve.reject.notes}")
                    textarea.form-control(
                        id="note",
                        data-th-field="*{note}"
                    )

                input.form-control(
                    type="hidden",
                    id="approveAction",
                    data-th-field="*{approveAction}"
                )

                input.form-control(
                    type="hidden",
                    id="scheduleId",
                    data-th-field="*{scheduleId}"
                )

                button.btn.btn-primary(type="submit", hidden)

                .form-group.mb-3.text-end
                    button.btn.btn-success.me-2(
                        type="button",
                        onclick="submitForm('approve')"
                        data-th-text="#{approve.page.delete}"
                    ) APPROVE
                    button.btn.btn-danger(
                        type="button",
                        onclick="submitForm('reject')"
                        data-th-text="#{approve.page.reject}"
                    ) REJECT

    script.
        function submitForm(status) {
            document.getElementById('approveAction').value = status;
            document.querySelector("button[type='submit']").click();
        }