extends ../../partials/layout

block content

    +breadcrumb(
        'perex',
        [
            [ '/admin/v9/webpages/perex/', '[[#{editor.perex.group}]]', true]
        ]
    )

    script.
        var perexDataTable;

        window.domReady.add(function () {

            window.helpLink = "/redactor/webpages/perexgroups";

            let url = "/admin/rest/prex_groups";
            let columns = [(${layout.getDataTableColumns("sk.iway.iwcm.components.perex_groups.PerexGroupsEntity")})];

            var tabs = [
                { id: 'basic', title: '[[\#{datatable.tab.basic}]]', selected: true },
                { id: 'translates', title: '[[\#{perex_groups.tab.translates}]]' },
                { id: 'fields', title: '[[\#{editor.tab.fields}]]' }
            ];

            perexDataTable = WJ.DataTable({
                url: url,
                serverSide: false,
                columns: columns,
                id: "perexDataTable",
                tabs: tabs,
                fetchOnEdit: true,
                fetchOnCreate: true
            });
        })

    <table id="perexDataTable" class="datatableInit table"></table>