extends ../../partials/layout

block content

    script.
        window.helpLink = "/admin/users/perm-groups";
        window.jstreePerms = [(${jstreePerms})];
        var permissionGroupsDataTable;

        window.domReady.add(function () {

            var tabs = [
                {id: "basicInfo", title: "[[\#{user.permgroups.tabs.basicInfo}]]", selected: true},
                {id: "dirs", title: "[[\#{user.permgroups.tabs.dirs}]]", selected: false},
                {id: "perms", title: "[[\#{user.permgroups.tabs.perms}]]", selected: false}
            ];

            let url = "/admin/rest/users/permission-groups";
            let columns = [(${layout.getDataTableColumns("sk.iway.iwcm.users.PermissionGroupBean")})];;

            permissionGroupsDataTable = WJ.DataTable({
                url: url,
                serverSide: false,
                columns: columns,
                tabs: tabs,
                id: "permissionGroupsDataTable",
                fetchOnEdit: true,
                fetchOnCreate: true
            });

            function toggleAllFields() {
                var allEditableGroups = permissionGroupsDataTable.EDITOR.field('allEditableGroups');
                var allWritableFolders = permissionGroupsDataTable.EDITOR.field('allWritableFolders');

                var editableGroupsField = permissionGroupsDataTable.EDITOR.field('editorFields.editableGroups');
                var editablePagesField = permissionGroupsDataTable.EDITOR.field('editorFields.editablePages');

                var writableFoldersField = permissionGroupsDataTable.EDITOR.field('editorFields.writableFolders');

                if (allEditableGroups.val()[0] === true) {
                    editableGroupsField.hide();
                    editablePagesField.hide();
                } else {
                    editableGroupsField.show();
                    editablePagesField.show();
                }

                if (allWritableFolders.val()[0] === true) {
                    writableFoldersField.hide();
                } else {
                    writableFoldersField.show();
                }
            }

            permissionGroupsDataTable.EDITOR.on('opened', function (e, type, action) {
                toggleAllFields();

                //bind change event on checkboxes
                $(".DTE_Field_Name_allEditableGroups input").off("change.toggleAll").on("change.toggleAll", function() {
                    toggleAllFields();
                });
                $(".DTE_Field_Name_allWritableFolders input").off("change.toggleAll").on("change.toggleAll", function() {
                    toggleAllFields();
                });
            });
        })

    <table id="permissionGroupsDataTable" class="datatableInit table"></table>

     include ../../modals/datatables-data-export