extends ../../partials/layout

block content

    script.
        window.helpLink = "/admin/users/perm-groups";
        window.jstreePerms = [(${jstreePerms})];
        var permissionGroupsDataTable;

        window.domReady.add(function () {

            var tabs = [
                {id: "basicInfo", title: "[[\#{user.permgroups.tabs.basicInfo}]]", selected: true},
                {id: "dirs", title: "[[\#{user.permgroups.tabs.dirs}]]", selected: false},
                {id: "perms", title: "[[\#{user.permgroups.tabs.perms}]]", selected: false}
            ];

            let url = "/admin/rest/users/permission-groups";
            let columns = [(${layout.getDataTableColumns("sk.iway.iwcm.users.PermissionGroupBean")})];;

            permissionGroupsDataTable = WJ.DataTable({
                url: url,
                serverSide: false,
                columns: columns,
                tabs: tabs,
                id: "permissionGroupsDataTable",
                fetchOnEdit: true,
                fetchOnCreate: true
            });
        })

    <table id="permissionGroupsDataTable" class="datatableInit table"></table>

     include ../../modals/datatables-data-export